@font-face {
    font-family: "Norse-Bold";
    src: url("../fonts/norse-bold-webfont.woff2") format("woff2"),  
        url("../fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.background {
    display: flex;
    flex-direction: column;
    background-image: url("../img/background.jpg");
    height: 100vh;
    flex-shrink: 0;
    flex-basis: 40%;
    justify-content: space-between;
}

.logo {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    margin-top: 30vh;
    padding-top: 15px;
    padding-bottom: 15px;
}

img {
    height: 100px;
}

.logo p {
    font: 5em "Norse-Bold";
    color: #ffffff;
    margin: 0;
}

.img-credit {
    padding-bottom: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 0.8em;
}

.img-credit a {
    color: #ffffff;
}

.content {
    background-color: #f9fafb;
}

h3 {
    margin: 0;
    padding-bottom: 20px;
}

.disclaimer,
.create-login-account {
    padding-left: 50px;
    padding-right: 50px;
}

.disclaimer {
    font-weight: bold;
    padding-bottom: 50px;
    padding-top: 100px;
}


.form-input {
    background-color: #ffffff;
    box-shadow: 0px 1px 5px grey;
    padding-left: 50px;
    padding-top: 20px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

label {
  font-family: inherit;
  font-size: 80%;
}

.form-row {
    padding-bottom: 20px;
    display: flex;
}

.form-row input {
    width: 250px;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

.form-row input[type='password']:invalid {
    border: 2px solid #db8c8c;
}

.form-row input:focus {
    outline: none;
    border: 2px solid #88a0e6;
    box-shadow: 1px 1px 2px grey;
}



.form-row div {
    display: flex;
    flex-direction: column;
    padding-right: 70px;
}


.create-login-account button {
    background-color: #596d48;
    font-size: 1em;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 5px grey;
}

.create-login-account p {
    margin-top: 0;
}

.create-login-account p a {
    text-decoration: none;
    color: #596D48;
}

